<html>
<head>
<title>
<%= name %>
</title>
<link rel="stylesheet" type="text/css" href="/res/styles.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
<div id="centercol">
  <div id="chardata">
    <div class="chardatum">Name: <%= name %></div>
    <div class="chardatum">Name: <%= name %></div>
    <div class="chardatum">Name: <%= name %></div>
    <div class="chardatum">Name: <%= name %></div>
    <div class="chardatum">Name: <%= name %></div>
    <div class="chardatum">Name: <%= name %></div>
  </div>
</div>
</body>
</html>
